<%- include('partials/header') %>

<div class="banner">
    <div class="logo">
        <img src="/logo/Whisper brand.png" alt="LOGO">
    </div>
    <input type="text" id="searchUser" placeholder="Search username">
    <div class="user">
        <i class="bi bi-person-circle"></i>
    </div>
</div>
<div class="main">
    <div class="connections">
        <div class="connected">
            <div class="connectedHeading">
                Connections
            </div>
            <div class="connectionInfo">
                <div class="pfp">
                    <img src="/srk.jpg" alt="PFP">
                </div>
                <div class="username">
                    Shah Rukh Khan
                </div>
                <div class="action">

                </div>
            </div>
            <div class="connectionInfo">
                <div class="pfp">
                    <img src="/srk.jpg" alt="PFP">
                </div>
                <div class="username">
                    Shah Rukh Khan
                </div>
                <div class="action">
                    
                </div>
            </div>
        </div>
        <div class="request">
            <div class="requestHeadings">
                Requests
            </div>
            <div class="requestInfo">
                <div class="pfp">
                    <img src="/srk.jpg" alt="PFP">
                </div>
                <div class="username">
                    Shah Rukh Khan
                </div>
                <div class="action">
                    <i class="bi bi-check-circle-fill accept"></i>
                    <i class="bi bi-x-circle-fill reject"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="chat">
        <div class="chatMessages">
            
        </div>
        <div class="messageBox">
            <input type="text" class="messageField">
            <i class="bi bi-arrow-right-circle-fill messageArrow"></i>
        </div>
    </div>
</div>

<%- include('partials/footer') %>