<%- include('partials/header') %>

<div class="landingBg">
    <div id="ball1" class="neon-ball"></div>
    <div id="ball2" class="neon-ball"></div>
    <div id="ball3" class="neon-ball"></div>
    <div id="ball4" class="neon-ball"></div>
    <div class="brand">
        <img src="/logo/Whispr brand.png" alt="branch image">
        <button class="getStarted">Get Started --></button>
    </div>
</div>

<%- include('partials/footer') %>