<%- include('partials/header') %>

<div class="landingBg">
    <div id="ball1" class="neon-ball"></div>
    <div id="ball2" class="neon-ball"></div>
    <div id="ball3" class="neon-ball"></div>
    <div id="ball4" class="neon-ball"></div>
    <div class="brand">
        <img src="/logo/Whisper brand.png" alt="branch image">
        <button class="getStarted" onclick="getLoginPage()"><a>Get Started --></a></button>
    </div>
</div>

<%- include('partials/footer') %>