<%- include('partials/header') %>

<div class="landingBg">
    <div id="ball1" class="neon-ball"></div>
    <div id="ball2" class="neon-ball"></div>
    <div id="ball3" class="neon-ball"></div>
    <div id="ball4" class="neon-ball"></div>
    <div class="middle">
        <div class="desc">
            <img src="/logo/Whisper brand.png" alt="">
            <p>Whispr is a private messaging app where chats only happen when both users are online.<br> With a dark-themed design, it ensures secure and temporary conversations<br> without storing messages permanently.<br> Perfect for discreet chats, Whispr lets you communicate privately and in real time,<br> ensuring your messages stay confidential.</p>
        </div>
        <div class="login">
            <p class="loginHeading">Login</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>