<%- include('partials/header') %>

<div class="landingBg">
    <div id="ball1" class="neon-ball"></div>
    <div id="ball2" class="neon-ball"></div>
    <div id="ball3" class="neon-ball"></div>
    <div id="ball4" class="neon-ball"></div>
    <div class="middle">
        <div class="desc">
            <img src="/logo/Whisper brand.png" alt="">
            <p>Whispr is a private messaging app where chats only happen when both users are online.<br> With a dark-themed design, it ensures secure and temporary conversations<br> without storing messages permanently.<br> Perfect for discreet chats, Whispr lets you communicate privately and in real time,<br> ensuring your messages stay confidential.</p>
        </div>
        <div class="login">
            <p class="loginHeading">Login</p>
            <div class="loginForm" id="existingUser">
                <form id="loginForm" action="">
                    <div class="wrapper">
                        <input type="email" class="inputField" name="email">
                        <label for="email">Enter Email:</label>
                    </div>
                    <div class="wrapper">
                        <input type="password" class="inputField" name="password">
                        <label for="password">Enter password:</label>   
                    </div>
                    <div class="links">
                        <p id="forgotPasswordLink">Forgot Password?</p>
                        <p id="newUserLink">New User?</p>
                    </div>
                    <button class="googleSignIn">Sign In With Google<i class="bi bi-google googleLogo"></i></button>
                    <input type="submit" value="Login" class="submitForm">
                </form>
            </div>

            <div class="loginForm" id="newUser">
                <form action="">
                    <div class="wrapper">
                        <input type="text" class="inputField" name="name">
                        <label for="email">Enter Name:</label>
                    </div>
                    <div class="wrapper">
                        <input type="email" class="inputField" name="email">
                        <label for="email">Enter Email:</label>
                    </div>
                    <div class="wrapper">
                        <div class="getOtp">
                            <input type="text" class="inputField" name="email">
                            <button>GET OTP</button>
                            <label for="email">Enter OTP:</label>
                        </div>
                    </div>
                    <div class="wrapper">
                        <input type="password" class="inputField" name="password">
                        <label for="password">Enter password:</label>   
                    </div>
                    <div class="wrapper">
                        <input type="password" class="inputField" name="password">
                        <label for="password">Confirm password:</label>   
                    </div>
                    <div class="links">
                        <p id="alreadyUserLink">Already a User?</p>
                    </div>
                    <button class="googleSignIn">Sign In With Google<i class="bi bi-google googleLogo"></i></button>
                    <input type="submit" value="Sign Up" class="submitForm">
                </form>
            </div>

            <div class="loginForm" id="forgotPassword">
                <form action="">
                    <div class="wrapper">
                        <div class="getOtp">
                            <input type="text" class="inputField" name="email">
                            <button>GET OTP</button>
                            <label for="email">Enter OTP:</label>
                        </div>
                    </div>
                    <div class="wrapper">
                        <input type="text" class="inputField" name="otp">
                        <label for="password">Enter OTP:</label>   
                    </div>
                    <div class="wrapper">
                        <input type="password" class="inputField" name="password">
                        <label for="password">Enter password:</label>   
                    </div>
                    <div class="wrapper">
                        <input type="password" class="inputField" name="password">
                        <label for="password">Confirm password:</label>   
                    </div>
                    <div class="links">
                        <p id="loginFormLink">Back to Login?</p>
                    </div>
                    <input type="submit" value="Change Password" class="submitForm">
                </form>
            </div>

        </div>
    </div>
</div>

<%- include('partials/footer') %>